@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,700;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    
    outline: 0;
} 

.containerLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family: 'Quattrocento Sans', sans-serif;
}

.boxLogin {
    background-color: #32292F;
    width: 26vw;
    height: 60vh;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.boxLogin h1 {
    margin-top: 25px;
    color: #F0F7F4;
    text-align: center;
    font-size: 45px;
    text-shadow: black 2px;
    overflow: visible;
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: 400;
    font-style: italic;

}
.inputLogin {
    border-top: none;
    border-width: 0.3px;
    border-right: none;
    border-radius: 0px 0px 0px 10px;
    -moz-border-radius: 0px 0px 0px 10px;
    -webkit-border-radius: 0px 0px 0px 10px;
    border-color:  #99E1D9;
    margin-top: 5vh;
    width: 20vw;
    height: 50px;
    padding-left: 10px;
    vertical-align: middle;
    background-color: #32292F;
    color: #F0F7F4;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 32px;
    vertical-align: middle;
    font-weight: 400;
    font-style: italic;
}
.inputLogin + .inputLogin{
    margin-top: 3.5vh;
}

::placeholder {
    color: #F0F7F4;
    filter: brightness(0.75);
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 32px;
    vertical-align: middle;
    font-weight: 400;
    font-style: italic;
}

.loginLinks {
    display: flex;
    width: 20vw;
    margin-top: 8px;
    justify-content: space-between;
    font-family: 'Quattrocento Sans', sans-serif;
    font-size: 16px;
    vertical-align: middle;
    font-weight: 400;
    font-style: italic;
    overflow: visible;

}

.loginLinks a {
    color: #F0F7F4;
    filter: brightness(0.75);
    text-decoration: none;
    overflow: visible;
    transition: ease-in 0.5s;
}


.loginLinks a:hover {
    filter: brightness(1);
    transition: ease-in 0.5s;
}

.boxLoginP {
    width: 10vw;
    height: 7vh;
    margin-top: 45px;
    background-color: #596E6F;
    border: 3px solid #4C575A;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F0F7F4;
    opacity: 0.9;
    text-decoration: none;
    transition: ease-in 0.5s;
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: 400;
    font-style: italic;
    letter-spacing: 2.5px;
    font-size: 23px;
    overflow: visible;
}

.boxLoginP:hover {
    opacity: 1;
    transition: ease-in 0.5s;
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 23px;
    letter-spacing: 2.5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}


